# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Databases
db.sqlite3
db.sqlite3-journal

# Environments
.venv/
env/
venv/
ENV/

# IDEs
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db
